/***********************login page******************************/
#login-bg{
	background-color: #444145;
	font-family: Tahoma;
	padding-top: 120px;
}
.panel-heading{
	background-color: #333333;
	height: 75px;
	padding: 5px 20px 0px 20px;
	color: #FFF;
}
.left-heading{
	float: left;
}
.left-heading h4{
	font-weight: bold;
}
.right-heading{
	float: right;
	padding-top:15px;
}
.sub-heading{
	font-size: .8em;
	margin-top: -5px;
}
.body-panel{
	background-color: #FFFFFF;
	padding: 35px 20px 15px 20px;
}
#form-login .form-group{
	margin-bottom: 20px;
}
#form-login input{
	border-radius: 0;
}
.footer-panel{
	text-align: right;
	padding-top: 20px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#loading-login{
	margin-top: -25px;
	margin-bottom: 10px;
	margin-left: 2px;
	display: none;
}
.error{
	font-size: .9em;
	color: #ed2d26;
	font-weight: normal;
}
#login-error{
	display : none;
	padding-top: 5px;
	margin-bottom: -10px;
}
/***********************login page******************************/