body{
  font-family: sans-serif;
  background-color: #cccccc;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
}
#wrapper {
  padding-left: 200px;
}
#content-wrapper{
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.text-header{
  float: left;
  font-size:2.2em;
}
.btn{
  border-radius: 0;
}
.content-alert{
  clear: left;
}
.alert{
  border-radius: 0px;
  height: 40px;
  padding-top: 10px;
}
.form-control{
  border-radius: 0px;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #999999;
    margin-top: 20px;
  }

textarea {
   resize: none;
}

.input-xs {
height: 22px;
padding: 2px 5px;
font-size: 12px;
line-height: 1.5;
}

.datepicker{
  z-index: 100000;
}

a:hover{ text-decoration: none }

.btn-page{
  margin-right: 5px;
}

.sort-table{
  cursor: pointer;
  font-size: .8em;
  color: #242424;
  letter-spacing: -3px;
}

.sort-table:hover{
  color: #999999;
}
.content-main{
  width: 100%;
}
.maxSelect{
  float: right;
  width: 60%;
}
.export-excel{
  float: right;
  margin-right: 10px;
  padding-top: 4px;
}
.export-excel a{
  cursor: pointer;
}
.ui-datepicker {
width: 17em; /*what ever width you want*/
}
#footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: #242424;
  text-align: left;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: #FFFFFF;
  -webkit-box-shadow:inset 1px 0px 0px 0px #383838;
  -moz-box-shadow:inset 1px 0px 0px 0px #383838;
  box-shadow:inset 0px 1px 0px 0px #383838;  
}
.version{
  font-size: .6em;
  color: #eeeeee;
  padding-top: 5px;
  float:right;
}
.planb-footer-logo{
  float:left;
}

/*******************************************NAV BAR***********************************************/
.navbar-default{
  background-color: #242424;
  border-color: #242424;
  border-radius: 0;
  height: 70px;
}
#logo{
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}
.fixed-right{
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.fixed-right a{
  color: #cccccc;
  cursor: pointer;
  text-decoration: none;
}
.fixed-right span{
  margin-right: 10px;
}


#admin-bar:hover { 
  height: 62px;
}
#admin-bar:hover .admin-box {
  display: block;
}
.admin-box {
  right: 34px;
  position: absolute;
  background: #333333;
  margin: 10px 0 0 0;
  height: 94px;
  display: none;
}
.admin-box-user-actions li {
  background: 0 0;
  clear: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-indent: 0;
  z-index: 99999;
}
.admin-box-user-actions {
  padding: 10px;
}
.admin-box-user-actions li {
  margin-left: 80px;
  margin-right: 35px;
  float: none;
}
.admin-box-user-actions a {
  background: 0 0;
  height: auto;
}
.admin-box-user-actions li .avatar {
  position: absolute;
  left: -72px;
  top: 4px;
  width: 64px;
  height: 64px;
}
.admin-box-user-actions .display-name {
 color: #cccccc;
}
.admin-box-user-actions .display-position {
 color: #969696;
 font-size: 12px;
}
.admin-box-user-actions .display-logout {
 color: #337ab7;
 font-size: 12px;
 line-height: 42px;
}
/*******************************************NAV BAR***********************************************/


/*******************************************SIDE BAR***********************************************/
#sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #242424;
  position: fixed;
  height: 100%;
  z-index: 1000;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 30px;
  text-indent: 10px;
}
.sidebar-nav li a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover{
  background-color: #000000;
  cursor: pointer;
}
.sidebar-nav li.active{
  background-color: #006699;
}

i.glyphicon-picture {
    font-size: .8em;
}
i.glyphicon-film {
    font-size: .7em;
}
.pic{
  float: left;
  margin-top: -3px;
}
.film{
  float: left;
  margin-top: 3px;
  margin-left: -24px;
}
.nav-text{
  margin-left: 10px;
}
.special-text{
    margin-left: 2px;
}

.sidebar-nav li.active a:after {
  right: 0;
  border: 10px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #ccc;
  top: 50%;
  margin-top: -8px;
}
.sidebar-nav li:hover .sl-submenu a:after {
  left: -20px;
  border: 10px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #333;
  top: 25px;
  margin-top: -8px;
}
.sidebar-nav li:hover .sl-submenu {
  top: 0;
}
.sidebar-nav .sl-submenu, .sidebar-nav ul.sl-submenu li:hover a {
  background: #333333; 
}
.sidebar-nav ul.sl-submenu li:hover a:hover {
 color: #337ab7;
}
.sidebar-nav li .sl-submenu {
  min-width: 160px;
  width: auto;
  padding: 7px 0 8px;
}
.sidebar-nav .sl-submenu {
  list-style: none;
  position: absolute;
  top: -1000em;
  left: 200px;
  overflow: visible;
  word-wrap: break-word;
}
.sidebar-nav .sl-submenu li {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.sidebar-nav .sl-submenu a {
  padding: 3px 15px;
}
/*******************************************SIDE BAR***********************************************/


/*******************************************Add Media**********************************************/
.btn-path{
  background-color: #5bc0de;
  color: #FFFFFF;
}
.content-header{
  margin-bottom: 25px;
  padding-top: 20px;
}

#header-btn{
float: left;
margin-top: 7px;
margin-left: 20px;
}
.gen-item{
margin-bottom: 20px;
}
.btn.btn-mod{
  cursor: default;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  float:left;
}
.btn.btn-mod:active{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: none;
}
#media-num{
  float:left;
  margin-left: 5px;
  margin-right: 5px;
  width: 37px;
}
#btn-gen{
  float: left;
  margin-left: 10px;
}
.glyphicon-play{
  font-size: .8em;
}
.add-media-warning{
  float:left;
  font-size: .9em;
  color: #999999;
  padding-top: 6px;
  padding-left: 10px;
}
.add-media-error{
  color: #ee2c2c;
}
.media-field{
clear: left;  
}
#path{
margin-left: -15px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}
/* style icon */
.inner-addon .path {
  position: absolute;
  pointer-events: none;
}
/* align icon */
.right-addon .path{ right: 0px;}
/* add padding  */
.right-addon input,.right-addon select{ padding-right: 50px; }

#dropdown{
  font-size: .8em;
}

#text-area{
  margin-top: 20px;
}

.add-media-btn{
  text-align: right;
  margin-top: 20px;
  display: none;
}

#alert-error{
  display: none;
}

#alert-success{
  display: none;
}

.media-field .hide{
  display: none;
}
#media-num-error{
  font-size: .9em;
  color: #ed2d26;
  font-weight: normal;
}
/*******************************************Add Media**********************************************/


/*******************************************Libary**********************************************/
#table-libary{
  border: solid 1px #a2a2a2;
}
#table-libary > tbody > tr >td{
  border: none;
}
.tr-chk{
  width: 3%;
  text-align: center;
}
.tr-name{
  width:17%;
}
.tr-desc{
  width: 13%;
}
.tr-createdDate{
  width: 15%
}
.tr-redirect{
  width: 15%;
}
.tr-path{
  width: 25%;
}
.tr-edit{
  width: 12%;
  text-align: right;
  letter-spacing: 6px;  
}
.tr-name > input,.tr-desc > input, .tr-path > input, .tr-redirect > input{
  width : 100%;
}
.glyphicon-ban-circle{
  color: #555555;
}
.glyphicon-ok{
  color: #669966;
}
thead{
  background-color: #FFFFFF;
  border-bottom: solid 1px #a2a2a2;
  color: #666666;
}
tbody tr{
   background-color: #FFFFFF;
}
#table-libary tbody tr:hover{
    background-color: #c6dfe5 !important;
}
#table-libary tbody tr:nth-child(odd) {
   background-color: #e7ebec;
}
#del-libary{
  margin-left: 25px;
}
.tr-edit a{
  color: #000000;
  cursor: pointer;
}
td.tr-edit a.edit.active{
  color: #999999;
}
tbody .tr-name{
  color : #3399cc;
}
.row-media{
  font-size: .9em;
}
.input-error{
  border-color: #ea3636;
}
/* style icon */
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
  padding-top: 7px;
  padding-right: 5px;
}
/* align icon */
.right-addon .glyphicon{ right: 5px;}
/* add padding  */
.right-addon #txtSearch { padding-right: 40px;}
/*******************************************Libary**********************************************/


/*******************************************User**********************************************/
.tr-num{
  width:8%;
}
.span-num{
  padding-left: 5px;
}
.tr-phone{
  width: 27%;
}
.tr-birthday{
  width: 25%;
}
.tr-gender{
  width: 20%;
}
tbody td.tr-phone{
  color: #0074a2;
}
#table-user tbody tr:nth-child(odd) {
   background-color: #e7ebec;
}
#table-user tbody tr:hover{
  background-color: #c6dfe5 !important;
}
#table-user > tbody > tr >td{
  border: none;
}
.total-user {
  text-align: right;
  margin-right: 5px;
  vertical-align: text-bottom;
  font-weight: bold;
  color: #666666;
}
.user-amount{
  color: #555555;
}
/*******************************************User**********************************************/


/*******************************************Schedule**********************************************/
.new-playlist{
  margin-left: -10px;
}
.btn-link{
  text-decoration: underline;
  color: #3399cc; 
  font-weight: bold;
  font-size: .9em;
}
.playlist{
  margin-top: 40px;
  padding-right: 8px;
}
.scroll-playlist{
  height:660px;
  overflow-y:auto;
  overflow-x:hidden; 
}
.playlist .btn{
  text-align: left;
}
#calendar > table > tbody > tr{
  background-color: transparent;
}
td.fc-header-center{
  font-size: .8em;
}
.fc-state-default{
  border-radius: 0px !important;
}
#calendar > table > tbody > tr > td.fc-header-right > span{
  border-radius: 0px !important;
  font-size: .8em;
  background-color: #f0f0f0;
}
.fc-day-number{
font-size: 1.6em !important;
padding: 0px 5px 5px 5px !important;
font-weight: 600px !important;
margin-bottom: -10px;
}
.fc-day-content{
  margin-bottom: 10px;
}
.external-event{
  margin-bottom: 5px;
}

.event1{
  background-color : #5bc0de;
  border-color: #46b8da;
}
.event2{
  background-color : #449d44;
  border-color: #398439;  
}
.event3{
  background-color : #286090;
  border-color: #204d74;  
}
.event4{
  background-color : #c9302c;
  border-color: #ac2925;  
}
.event5{
  background-color : #ec971f;
  border-color: #d58512;  
}
.fc-event{
  cursor: pointer;
  /*height: 20px;
  margin:0px;
  margin-bottom: 2px;*/
}
.fc-event-inner{
  padding-left:3px; 
  padding-top:3px;
  background : none;
}
/*******************************************Schedule**********************************************/


/*******************************************modal-delete**********************************************/
#modal-dialog-del-media{
  width:25%;
  position: absolute;
  top:15%;  
  left:40%; 
}
#modal-content-del-media{
  height: 210px;
  background-color: #333333;
  color:#FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
}
.modal-underline{
  text-decoration: underline;
}
#btn-del-zone{
  margin-top: 20px;
}
.btn-gray{
  background-color: #666666;
  color: #FFFFFF;
}
.del-header{
  margin-bottom: -5px;
}
/*******************************************modal-delete**********************************************/


/*******************************************Modal-Schedule**********************************************/
.modal-content{
  border-radius: 0px !important;
}
#modal-edit-form, #modal-create-form{
  width: 80%;
  position: absolute;
  top:14%;  
  left:17%;
}
#modal-calendar-schedule {
  width: 50%;
  position: absolute;
  top:14%;  
  left:27%;
}
#modal-edit-form .modal-content, #modal-create-form .modal-content, #modal-calendar-schedule .modal-content{
  height: 500px;
}

.section-playlist{
  width: 60%;
  height: 100%;
  float: left;
  background-color: #FFFFFF;
}
.section-media{
  width: 40%;
  height: 100%;
  float: right;
  background-color: #242424;
  color: #FFFFFF;
  padding: 10px 10px 10px 10px;
}
.playlist-header{
  padding-bottom: 15px;
  padding: 15px 10px 15px 10px;
}
.glyph-a{
  float: left;
  margin-top: -5px;
}
.glyph-b{
  float: left;
  margin-left: -5px;
  margin-top: 0px;
}
.glyph-c{
  float: left;
  color: red;
  font-size: .6em;
  margin-top: -3px;
  margin-left: -4px;
}
.mix-icon-modal{
  float: left;
}
.normal-icon-modal{
  float: left;
  margin-left: 10px;
  letter-spacing: 3px;
}
.normal-icon-modal a{
  color: #000000;
}
.glyphicon-repeat{
  font-size: .9em;
}

.edit-playlist-icon{
  float: left;
  width: 10%
}
.create-playlist-icon{
  float: left;
  width: 7%
}

.form-input-playlist{
  float: left;
  width: 65%;
}
.button-playlist{
  float: right;
  width: 15%;
}
.input-playlist{
  border: none;
  box-shadow: none;
  border-bottom: solid 1px #999999;
  font-weight: bold;
}
.section-playlist hr{
  width: 100%;
  border: 0; 
  border-top: 1px solid #cccccc;
}

@-moz-document url-prefix() { 
  .section-playlist hr{
    float: left;
    margin-top: 5px;
  }

  .table-playlist{
    float: left;
    position: relative;
  }

  .playlist-input-footer{
    float: left;
  }  

}

.table-playlist{
  width: 100%;
  position: relative;
}
.table-playlist tbody tr{
   background-color: #e5e5e5;
}
.table-playlist tbody tr:nth-child(odd) {
   background-color: #d5e9ff;
}
.table-playlist > tbody > tr >td{
  border: none;
}
.table-playlist tbody{
  display: block;
  height:270px;
  overflow-y:auto;
  overflow-x:hidden; 
}
.tr-playlist-chk{
  width:5%;
  text-align: center;
}
.table-playlist > tbody > tr{
  display: block;
}
.table-playlist tbody tr:hover{
  background-color: #c6dfe5 !important;
}
.td-type-position{
  margin-top: -2px;
}
.tr-order{
  letter-spacing: 9px;
  width: 10%;
}
.tr-order a {
  text-decoration: none;
  color : #242424;
  cursor: pointer;
}
.tr-order a:hover{
  color: #666666;
}

.tr-playlist-type{
  width: 5%;
  font-size: 1.1em;
  color: #3399cc;
  text-align: center;
}
.tr-playlist-name{
  width: 30%;
  color: #3399cc;
}
.tr-playlist-url{
  width: 45%;
  color: #3399cc;
}
.tr-schedule-type{
  width: 5%;
  font-size: 1.1em;
  color: #3399cc;
  text-align: center;
}
.tr-schedule-name{
  width: 90%;
  color: #3399cc;
}
.playlist-input-footer{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.redirect-input input{
  padding-left: 15px;
  margin-bottom: 10px;
}
.date-input .glyphicon{
  color: #3399cc;
}
.date-input .inner-addon { 
    position: relative; 
}
/* style icon */
.date-input .inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
  padding: 7px;
}
/* align icon */
.date-input .right-addon .glyphicon{ right: 0px;}
/* add padding  */
.date-input .right-addon input { padding-right: 50px; }

.date1{float:left;width: 48%;}

.date2{float:right;width:48%;}

.summary-playlist{
  padding-top: 20px;
  font-weight: bold;
  font-size: .9em;
  float: left;
  width: 45%;
}
.playlist-footer-btn{
  padding-top: 10px;
  float: right;
  text-align: right;
  width: 45%;
}

#media-header{
  padding-left: 30px;
  color: #f6f7fa;
  margin-bottom: 20px;
}
.media-header-text{
  float: left;
}
.close-modal{
  float: right;
  padding-top: 27px;
  padding-right: 20px;
}
.close-modal a{
  cursor: pointer;
}
.close-modal .glyphicon{
  color: #999999;
}

#media-search{
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}
#media-search .glyphicon{
  color: #999999;
}
#media-search .inner-addon { 
    position: relative; 
}
/* style icon */
#media-search .inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
  padding: 10px;
}
/* align icon */
#media-search .right-addon .glyphicon{ right: 0px;}
/* add padding  */
#media-search .right-addon input { padding-right: 50px; }

#table-media-modal{
  width: 100%;
}

#table-media-modal-zone {
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;  
}
#table-media-modal tbody tr {
   background-color: #e5e5e5;
}
#table-media-modal tbody tr:nth-child(odd) {
   background-color: #d5e9ff;
}
#table-media-modal > tbody > tr >td{
  border: none;
}

#table-media-modal  tbody{
  display: block;
  width: 100%;
  height:280px;
  overflow-y:auto;
  overflow-x:hidden; 
  background-color: #FFFFFF;
}
#table-media-modal > tbody > tr{
  display: block;
  width: 100%;
  clear:both;
}
#table-media-modal tbody tr:hover{
    background-color: #c6dfe5 !important;  
}

.tr-media-type{
  width: 40px;
  color: #3399cc;
  text-align: center;
}
.tr-media-name{
  color: #3399cc;
  width:460px;
}
.tr-media-add{
  width: 40px;
  color: #3399cc;
  font-size: .8em;
  text-align: right;
}
.error-playlist{
  color: red;
  background-color: #FFFFFF !important;
  margin-top: -5px;
}
.noMedia-playlist{
  color: red;
  background-color: #FFFFFF !important;
  margin-bottom: -5px;
}
.header-modal-schedule{
  float: left;
  margin-top: -10px;
}
.header-delete-schedule{
  float: right;
  width: 20%;
}

.input-readonly[readonly]{
  background-color:#f9f9f9;
}
.txtStart[readonly], .txtEnd[readonly]
{
    background-color:#FFFFFF;
}
.mix-icon-modal a, .normal-icon-modal a{
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
/*******************************************Modal-Schedule**********************************************/


/*******************************************Modal-Loading**********************************************/
#dialog-loading{
  width: 18%;
  position: absolute;
  top:15%;  
  left:42%;  
}
#dialog-loading .modal-content{
  height: 50px;
  text-align: center;
  padding-top: 12px;
}
#loading-error{
  color:#FF0000;
  font-size: .9em;
  padding-top: 3px;
  display: none;
}
#loading-success{
  color: #13e700;
  font-size: .9em;
  padding-top: 3px;
  display: none;
}

/*******************************************Modal-Loading**********************************************/

.pagination {
  margin: 0px;
}

#btn-media-search{
  margin-left: -25px;
  margin-right : 25px;
}

#external-events > div > span{

  background-color: #5bc0de;   
  color: #FFFFFF;
}

/*
#external-events > div:nth-child(odd) >span{
   background-color: #d9534f;
}
*/

/**************************Report******************************/
.btn-filters{
  font-weight: bold;
}
#table-report tbody tr:hover{
    background-color: #c6dfe5 !important;
}
#table-report tbody tr:nth-child(odd) {
   background-color: #e7ebec;
}

#table-report tbody tr td{
  font-size: .9em;
}

.tr-report-time{
  text-align: center;
}

#modal-filter > .modal-dialog{
  width:37%;
  position: absolute;
  top:15%;  
  left:35%; 
}
#modal-filter > .modal-dialog > .modal-content{
  background-color: #333333;
  color:#FFFFFF;
  padding: 20px 30px 30px 30px; 
}
.modal-report-header{
  font-size: 1.4em;
}
.close-filter{
  font-size: .7em;
  color: #888888;
  cursor: pointer;
}
.modal-report-body{
  margin-top: 20px;
}

.time-section{
  float:right;
}
.text-time{
  float: left;
  color: #999999;
  font-size: .9em;
  margin-right: 10px;
}
.txtTime{
  float: right;
  width: 40%;
}
.select2-container--default .select2-selection--single{
  border-radius: 0px;
}
.select2-results{
  overflow-x:hidden; 
  font-size: .9em;
}
.select2-results__option{
  padding-left: 2px;
}
.input-filter-time{
  float: right;
}
.btn-footer-filter{
  float:right;
}
.btn-reset{
  background-color: #999999;
}
.total-report {
  text-align: right;
  margin-right: 5px;
  vertical-align: text-bottom;
  font-weight: bold;
  color: #666666;
}
.report-amount{
  color: #555555;
}
.chart-report{
  margin-bottom: 25px; 
  display : none;
}
.header-summary{
  width: 100%;
  height: 35px;
  color: #FFFFFF;
  font-size: 1.3em;
  padding-top: 6px;
  padding-left: 20px; 
  background-color: #337ab7;
  display: block;  
}
.body-report{
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.pie-report{
  height: 280px;
}
.detail-report{
  padding-top: 20px;
  padding-left: 30px;
}
.date-report{
 margin-bottom: 20px;
}
.double-underline{
  border-bottom: 1px solid #000;
  text-decoration: underline;
}
.donut-inner
{
width: 240px;
height: 240px;
text-align: center;
margin-top: -160px;
margin-bottom: 100px;
padding-left: 10px;

}
.donut-inner h5
{
margin-bottom: 3px;
margin-top: 10px;
font-weight: bold;
}
.donut-inner span {font-size: 1.4em; color:#999999;}

.item-report{
  margin-left: 30px;
}
.log-item{
  float: left;
  background-color: #e9e9e9;
  width: 42%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-left:8px solid;

}
.log-name{
  font-size: .9em;
}
.log-cal{
  color: #888888;
}

.reportStart, .reportEnd{
  font-weight: 600;
}

.item-report-scrollbar{
  height:270px;
  overflow-y:auto;
  overflow-x:hidden;   
}
.unsuccessful{
  font-weight: normal;
  margin-top: 10px;
  font-size: .9em;
}

.chk-success {
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}

.doughnut{ 
  padding-left: 20px;
  padding-top: 20px;
}
#unsuccess{
  margin-left: 15px;
}
.checkSuccess-error{
  font-size: .9em;
  color: #FF0000;
}
/***********Export User*************/
#modal-user-filter > .modal-dialog{
  width:37%;
  position: absolute;
  top:15%;  
  left:35%; 
}
#modal-user-filter > .modal-dialog > .modal-content{
  background-color: #333333;
  color:#FFFFFF;
  padding: 20px 30px 30px 30px; 
}
.userFilterDate{
  font-size:.9em;
  margin-top: -10px;
  padding-bottom: 10px;
}
.doubleunderline{
  border-bottom: 1px solid #000;
  text-decoration: underline;
}


/*********** USER SEARCH **************/
.input-user-search{
float: left;
}
.btn-user-search{
  float: left;
  margin-top: .5px;
}
.btn-user-search > button{
  border: 0px;
}
.btn-user-search > i{
  color: #666666;
}

#modal-user-reset > .modal-dialog{
  width:28%;
  position: absolute;
  top:15%;  
  left:40%; 
}
.resetPassword, .resetPassword:hover{
  text-decoration:underline;
  font-size:.9em;
}
.smsSent{
  color: #669966;
  font-size: .9em;
  float: right;
  margin-right: 10px;
}
.smsSent > i {
  margin-right: 8px;
}